[defaults]
remote_user       = ansible
host_key_checking = false
inventory         = /home/ansible/inventory

fact_caching            = redis
fact_caching_timeout    = 3600
fact_caching_connection = locahost:6379:0     

[privilege_escalation]
become          = true
become_method   = sudo
become_user     = root
become_ask_pass = false
